:root {
	background: #1a1b26;
	color: white;
	--main-color: #7aa2f7;
	--accent-color: #f7768e;
}

h1,
h2 {
	color: var(--main-color);
	text-align: center
}

a {
	color: var(--accent-color);
}

nav {
	color: white;
	text-align: center;
	align-items: center;
}

p {
	color: white
}

section {

	text-align: center;
}

ul {
	list-style: none;
	display: inline-block;
	text-align: left;
}

li {}
