:root {
	background: #1a1b26;
	color: white;
	--main-color: #7aa2f7;
	--accent-color: #f7768e;
}

body {
	font-family: sans-serif;
	font-size: 1.5em;

}

h1,
h2,
h3,
h4,
h5 {
	color: var(--main-color);
	text-align: center
}

a {
	color: var(--accent-color);
}

nav {
	text-align: center;
	align-items: center;
}

section {

	text-align: center;

}

ul {
	list-style: none;
	display: inline-block;
	text-align: left;
	align-self: auto;
	padding: 0;
}
