<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <link rel="stylesheet" href="{{ get_url(path="styles.css") | safe }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--- Instructions for web scrapers --->
<meta name="robots" content="index, follow">
<meta name="description" content="Kelvin's personal website interest sharing
      projects around programming, language learning, and productivity. ">
<meta name="keywords" content="programming, language learning, learning,
      personal development, productivity">
<meta name="author" content="Kelvin Joel Pina Sledzinski">
<header>
    <nav class="site-nav">
      <a href="/">Home</a>
      <a href="/blog" >Blog</a>
  </header>
<body>
    <main>
      {% block content %} {% endblock %}
    <main/>
</body>

</html>


