<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MyBlog</title>
  <link rel="stylesheet" href="{{ get_url(path="styles.css") | safe }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--- Instructions for web scrapers --->
  <meta name="robots" content="index, follow">
  <meta name="description" content="Kelvin's personal website interest sharing
      projects around programming, language learning, and productivity. ">
  <meta name="keywords" content="programming, language learning, learning,
      personal development, productivity">
  <meta name="author" content="Kelvin Joel Pina Sledzinski">
{#- Rss / Atom Feed #}

  {%- if config.generate_feeds %}
  {%- for feed in config.feed_filenames %}

  {%- if feed is containing('atom') %}
  <link rel="alternate" type="application/atom+xml" title="{{ config.title }} Atom Feed" href="{{ get_url(path=feed, trailing_slash=false, lang=lang) | safe }}" />
  {%- endif %}

  {%- if feed is containing('rss') %}
  <link rel="alternate" type="application/rss+xml" title="{{ config.title }} RSS Feed" href="{{ get_url(path=feed, trailing_slash=false, lang=lang) | safe }}" />
  {%- endif %}

  {%- endfor %}
  {%- endif %}
  <meta name="author" content="Kelvin Joel Pina Sledzinski">
  <link rel="alternate" type="application/rss+xml" title="{{ config.title }} RSS Feed" href="{{ get_url(path="rss.xml", trailing_slash=false) | safe }}">
  <header>
    <nav class="site-nav">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
  </header>

<body>
  <main>
    {% block content %} {% endblock %}
    <main />
    <footer>
    <a href="{{ get_url(path="rss.xml") }}" title="RSS Feed">
      <svg role="img" width="40" height="40" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
        <title>RSS Feed</title>
          <path fill="currentColor" d="M3 3C12.9411 3 21 11.0589 21 21H18C18 12.7157 11.2843 6 3 6V3ZM3 10C9.07513 10 14 14.9249 14 21H11C11 16.5817 7.41828 13 3 13V10ZM3 17C5.20914 17 7 18.7909 7 21H3V17Z">
          </path>
    </svg>
    </a>
  </footer>
</body>

</html>
