{% extends "base.html" %} {% block content %}
{% set blog_section = get_section(path="blog/_index.md") %}

<h1 class="title">
  Kelvin's personal website
</h1>
<p> 
  Hello my name is Kelvin here I will share my projects, and the things I learn
  along the way
</p>
<img> 
<img>
<h2>Latest posts</h2>
<ul
  {% for post in blog_section.pages %}
    <li>
    <a href="{{ post.permalink }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul>
<p>Click <a href="{{ get_url(path='@/blog/_index.md') }}">here</a> to see  all of  my posts.</p>
{% endblock content %}

